@media (min-width: 576px) { 
  
 }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) { 
  .bodyContainer {
    height: 1200px;
    display: flex;
    justify-content: center;
  }
  .bodyStyles {
    width: 70%;
    height: 100%;
  }

}
